POSTGRES_PASSWORD=postgres

# Ensure this name matches the one in servers.json
POSTGRES_USER=root

# Prevents the automatic creation of a user-named database if POSTGRES_DB is unset
POSTGRES_DB=postgres